

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#theWaifu {
  /*max-width: 50%;
  max-height: 50%;*/

}

footer {
  text-align: center;
}

body {
  overflow: hidden;
}
